<div class="panel panel-primary">
  <div class="panel-body">
    <form>
      <div class="form-group">
        <label class="col-md-4">Team Name</label>
        <input type="text" class="form-control" #teamName />
      </div>
      <div class="form-group">
        <button
          (click)="createTeam(teamName.value, $event)"
          class="btn btn-primary"
        >
          Add Team
        </button>
      </div>
    </form>
  </div>
</div>

<div style="display: flex;flex-wrap: wrap;">
  <div
    *ngFor="let team of teams | async"
    (click)="selectTeam(team)"
    [ngStyle]="{ background: team.selected ? 'yellowgreen' : 'none' }"
    style="width: 25%"
  >
    <h3>{{ team.name }}</h3>
    <p-table [value]="team.players">
      <ng-template pTemplate="header">
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Position</th>
          <th>Team</th>
          <th>Bye</th>
          <th>RM</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-player>
        <tr (click)="addPlayerToTeam(player, $event)">
          <td>{{ player.rank }}</td>
          <td>{{ player.name }}</td>
          <td>{{ player.pos }}</td>
          <td>{{ player.team }}</td>
          <td>{{ player.bye }}</td>
          <td (click)="removePlayerFromTeam(player, $event)">RM</td>
        </tr>
      </ng-template>
    </p-table>
    <h3 (click)="removeTeam(team, $event)">XX</h3>
  </div>
</div>
