<div class="panel panel-primary">
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label class="col-md-4">Team Name</label>
                <input type="text" class="form-control" #teamName />
            </div>
            <div class="form-group">
                <button (click)="createTeam(teamName.value, $event)" class="btn btn-primary">Add Team</button>
            </div>
        </form>
    </div>
</div>

<table class="table table-hover" *ngIf="teams">
    <thead>
        <tr>
            <td>name</td>
            <td>players</td>
            <td>remove</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let team of teams | async" (click)="selectTeam(team)">
            <td>{{team.name}}</td>
            <td>
                <table>
                    <tr *ngFor="let player of team.players">
                        <td>{{player.rank}}</td>
                        <td>{{player.name}}</td>
                        <td>{{player.pos}}</td>
                        <td>{{player.team}}</td>
                        <td>{{player.bye}}</td>
                        <td (click)="removePlayerFromTeam(player, $event)">RM</td>
                    </tr>
                </table>
            </td>
            <td (click)="removeTeam(team.name, $event)">XX</td>
        </tr>
    </tbody>
</table>